<div class="contact-container">
    <div class="row">
        <div class="title-container">
            <h1>TRABAJEMOS JUNTOS</h1>
            <div class="col m7 offset-m2">
                <div class="row">
                    <div class="col m6">
                        <p>Puedes seguirme por mis redes:</p>
                    </div>
                    <div class="col m6 btn-container">
                        <a class="btn-floating btn-large waves-effect z-depth-5 github-icon"><img src="../../../assets/images/github.svg" alt=""></a>
                        <a class="btn-floating btn-large waves-effect z-depth-5 linkedin-icon"><img src="../../../assets/images/linkedin.svg" alt=""></a>
                        <a class="btn-floating btn-large waves-effect z-depth-5 gmail-icon"><img src="../../../assets/images/gmail.svg" alt=""></a>
                    </div>
                    
                </div>
                <div class="divider"></div>
                <div class="row">
                    <p>También puedes descargar mi CV</p>
                    <div class="col m6 offset-m3 btn-container">
                        <a class="btn-floating btn-large waves-effect z-depth-5 pulse btn-cv"><img src="../../../assets/images/archive.svg" alt=""></a>
                    </div>
                </div>    

                <p>
                    Y si prefieres ser contactado a continuación te presento un breve formulario para que puedas
                    dejar tus datos y ser contactado a la brevedad. Me encanta la idea de que trabajemos en conjunto,
                    así que te estaré contactando a la brevedad.               
                </p>   
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m6 offset-m3 card purple darken-4 z-depth-5">
            <div class="card-content white-text">
                <span class="card-title">¡Deja tus datos!</span>
                <form action="">
                    <div class="input-field col m8 offset-m2">
                        <input id="last_name" type="text" class="">
                        <label for="last_name">Nombre</label>
                    </div>                    
                    <div class="input-field col m8 offset-m2">
                        <input id="organization" type="text" class="validate">
                        <label for="organization">Organización</label>
                    </div>
                    <div class="input-field col m8 offset-m2">
                        <input id="contact-info" type="text" class="validate">
                        <label for="contact-info">Contacto</label>
                    </div>
                    <div class="input-field col m8 offset-m2">
                        <input id="e-mail" type="text" class="validate">
                        <label for="e-mail">E-mail</label>
                    </div>
                    <div class="input-field col m8 offset-m2">
                        <textarea id="comments" class="materialize-textarea"></textarea>
                        <label for="comments">Comentarios</label>
                    </div>
                    <button class="col m6 offset-m3 btn waves-effect waves-light" type="submit" name="action">¡Quiero entrevistarte!
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>