.contact-container{
    padding: 9px;
    .title-container{
        h1{
            font-family: 'Nunito', sans-serif;

            text-align: center;
            font-size: 35px;
            font-weight: bold;
            margin-bottom: 5%;
        }
        p{
            font-family: 'IBM Plex Mono', monospace;
            text-align: justify;
            font-size: 20px;
            margin-bottom: 0;
        }
        .rrss-container{
            display: flex;
            align-items: center;
            @media (min-width: 320px) and (max-width: 767px) {
                display: inherit;                       
            }
            .btn-container{
                display: flex;
                justify-content: space-around;
                &.rrss {
                    @media (min-width: 320px) and (max-width: 767px) {
                        margin-top: 3%;                       
                    }
                }
                .btn-floating {
                    background-color: #ffcdd2 ;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 56px;
                    }
                }
                .btn-floating.linkedin-icon{
                    border-radius: 7px;
                }
                .btn-floating.gmail-icon{
                    img {
                        width: 75px;

                    }
                }
                .btn-floating.btn-cv{
                    margin: 2%;
                    img{
                        width: 35px;
                        height: 56px;
                    }
                }
            }
        }
        .divider{
            margin: 5% 0;
        }
        .text-invitation-form{
            margin: 5% 0;
            line-height: 30px; 
        }
    }
    .card.card {
        background-color: #FF9AA4 ;
    }
    .card-title{
        text-align: center;
    }
    form{
        width: 100%;
        display: flex;
        min-width: 100%;
        flex-direction: column;

        // .input-field input[type=text], .input-field input[type=text]:focus, .input-field textarea, .input-field textarea:focus {
        //     color: #ffffff;
            
        // }
        // button{
        //     margin-bottom: 7%;
        //     margin-top: 5%;
        // }
        // .input-field input[type=text].invalid {
        //     border-bottom: 1px solid #000;
        //     box-shadow: 0 1px 0 0 #000;
        // }
        .input-field label {
            color: #ffffff;
          }

          .input-field input[type=text], .input-field textarea {
            border-bottom: 1px solid #ffffff;
          }
          /* label focus color */
          .input-field input[type=text]:focus + label {
            color: #ffffff;
          }
          /* label underline focus color */
          .input-field input[type=text]:focus {
            border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
          }
          /* valid color */
          .input-field input[type=text].valid {
            border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
          }
          /* invalid color */
          .input-field input[type=text].invalid {
            border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
          }
          /* icon prefix focus color */
          .input-field .prefix.active {
            color: #ffffff;
          }
    }
}