.home-container{
    .title-container{
        color: #ffffff;
        font-size: 50px;
        height: 80px;
        margin: 2%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        text-align: center;
        .title-row{
            margin-top: 30px;
            .slide-top {
                -webkit-animation: slide-bottom 10s 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate, slide-top 5s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate;
                // slide-bottom 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate;
                animation: slide-bottom 10s 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate, slide-top 5s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate;
                // slide-bottom 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate;
                // animation-delay: 2s;
        
                h1{
                    font-size: 45px;
                    margin-bottom: 3%;
                    font-family: 'Vidaloka', serif;
                }
                .pixel-heart-conainer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .pixel-heart{
                        width: 50px;
                    }
                    & .coffee{
                        padding-bottom: 18px;
                    }
                }
            }
        
            @-webkit-keyframes slide-top {
                0% {
                  -webkit-transform: translateY(0);
                          transform: translateY(0);
                }
                100% {
                  -webkit-transform: translateY(-250px);
                          transform: translateY(-250px);
                }
              }
              @keyframes slide-top {
                0% {
                  -webkit-transform: translateY(0);
                          transform: translateY(0);
                }
                100% {
                  -webkit-transform: translateY(-250px);
                          transform: translateY(-250px);
                }
              }
              @-webkit-keyframes slide-bottom {
                0% {
                  -webkit-transform: translateY(0);
                          transform: translateY(0);
                }
                100% {
                  -webkit-transform: translateY(100px);
                          transform: translateY(100px);
                }
              }
              @keyframes slide-bottom {
                0% {
                  -webkit-transform: translateY(0);
                          transform: translateY(0);
                }
                100% {
                  -webkit-transform: translateY(100px);
                          transform: translateY(100px);
                }
            }
        }   
        
    }
    .buttons-container{
        display: flex;
        margin-right: 10%;
        button {
            align-self: center;
            background: transparent;
            padding: 1rem 1rem;      
            transition: all .5s ease;
            color: white;
            font-size: 2rem;
            letter-spacing: 1px;
            outline: none;
            box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
            border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
       
        }
            
          button:hover {
            box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
          }
            
          button.lined.thick {
            border: solid 7px white;
          }
            
            
            
          button.lined.thin {
            border: solid 2px white;
          }
    }
}